In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

In [3]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
df.shape

(4340, 8)

In [5]:
print(df['seller_type'].unique())
print(df['transmission'].unique())
print(df['owner'].unique())
print(df['fuel'].unique())

['Individual' 'Dealer' 'Trustmark Dealer']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']
['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']

# checking missing and null value

In [6]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [7]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [8]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [9]:
final_dataset = df[['year', 'selling_price', 'km_driven', 'fuel', 'seller_type','transmission', 'owner']]

In [10]:
final_dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [11]:
final_dataset['Current_year']=2022

In [13]:
final_dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,Current_year
0,2007,60000,70000,Petrol,Individual,Manual,First Owner,2022
1,2007,135000,50000,Petrol,Individual,Manual,First Owner,2022
2,2012,600000,100000,Diesel,Individual,Manual,First Owner,2022
3,2017,250000,46000,Petrol,Individual,Manual,First Owner,2022
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner,2022

In [14]:
final_dataset['No_of_year']=final_dataset['Current_year']-final_dataset['year']
final_dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,Current_year,No_of_year
0,2007,60000,70000,Petrol,Individual,Manual,First Owner,2022,15
1,2007,135000,50000,Petrol,Individual,Manual,First Owner,2022,15
2,2012,600000,100000,Diesel,Individual,Manual,First Owner,2022,10
3,2017,250000,46000,Petrol,Individual,Manual,First Owner,2022,5
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner,2022,8

In [15]:
final_dataset.drop(['Current_year'],axis=1,inplace=True)
final_dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,No_of_year
0,2007,60000,70000,Petrol,Individual,Manual,First Owner,15
1,2007,135000,50000,Petrol,Individual,Manual,First Owner,15
2,2012,600000,100000,Diesel,Individual,Manual,First Owner,10
3,2017,250000,46000,Petrol,Individual,Manual,First Owner,5
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner,8

In [16]:
final_dataset=pd.get_dummies(final_dataset,drop_first=True)
final_dataset.head()

,year,selling_price,km_driven,No_of_year,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,60000,70000,15,0,0,0,1,1,0,1,0,0,0,0
1,2007,135000,50000,15,0,0,0,1,1,0,1,0,0,0,0
2,2012,600000,100000,10,1,0,0,0,1,0,1,0,0,0,0
3,2017,250000,46000,5,0,0,0,1,1,0,1,0,0,0,0
4,2014,450000,141000,8,1,0,0,0,1,0,1,0,1,0,0

In [17]:
final_dataset.corr()

,year,selling_price,km_driven,No_of_year,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
year,1.000000,0.413922,-0.419688,-1.000000,0.121424,-0.025540,-0.051266,-0.114908,-0.173703,0.100225,-0.143800,-0.186361,-0.292349,0.095795,-0.244308
selling_price,0.413922,1.000000,-0.192289,-0.413922,0.282947,-0.005095,-0.042434,-0.269453,-0.236798,0.110176,-0.530205,-0.078725,-0.161986,0.048799,-0.111326
km_driven,-0.419688,-0.192289,1.000000,0.419688,0.285396,-0.001372,0.036652,-0.291139,0.182663,-0.089858,0.120226,0.097349,0.195203,-0.083445,0.194713
No_of_year,-1.000000,-0.413922,0.419688,1.000000,-0.121424,0.025540,0.051266,0.114908,0.173703,-0.100225,0.143800,0.186361,0.292349,-0.095795,0.244308
fuel_Diesel,0.121424,0.282947,0.285396,-0.121424,1.000000,-0.015063,-0.072422,-0.970934,-0.035314,-0.007911,-0.048098,-0.021054,0.003524,-0.010575,0.009373
fuel_Electric,-0.025540,-0.005095,-0.001372,0.025540,-0.015063,1.000000,-0.001108,-0.014856,-0.026118,-0.002355,-0.044746,-0.002094,0.025960,-0.000952,-0.004166
fuel_LPG,-0.051266,-0.042434,0.036652,0.051266,-0.072422,-0.001108,1.000000,-0.071427,0.035122,-0.011324,0.024764,0.013384,0.030141,-0.004577,0.004836
fuel_Petrol,-0.114908,-0.269453,-0.291139,0.114908,-0.970934,-0.014856,-0.071427,1.000000,0.029845,0.012489,0.039614,0.011502,-0.012717,0.012427,-0.008502
seller_type_Individual,-0.173703,-0.236798,0.182663,0.173703,-0.035314,-0.026118,0.035122,0.029845,1.000000,-0.266904,0.214163,0.072322,0.186573,-0.107886,0.140823
seller_type_Trustmark Dealer,0.100225,0.110176,-0.089858,-0.100225,-0.007911,-0.002355,-0.011324,0.012489,-0.266904,1.000000,-0.042346,-0.021395,-0.076764,-0.009729,-0.042578
transmission_Manual,-0.143800,-0.530205,0.120226,0.143800,-0.048098,-0.044746,0.024764,0.039614,0.214163,-0.042346,1.000000,0.035597,0.068068,0.009152,0.030802
owner_Fourth & Above Owner,-0.186361,-0.078725,0.097349,0.186361,-0.021054,-0.002094,0.013384,0.011502,0.072322,-0.021395,0.035597,1.000000,-0.080648,-0.008648,-0.037849
owner_Second Owner,-0.292349,-0.161986,0.195203,0.292349,0.003524,0.025960,0.030141,-0.012717,0.186573,-0.076764,0.068068,-0.080648,1.000000,-0.036672,-0.160498
owner_Test Drive Car,0.095795,0.048799,-0.083445,-0.095795,-0.010575,-0.000952,-0.004577,0.012427,-0.107886,-0.009729,0.009152,-0.008648,-0.036672,1.000000,-0.017210
owner_Third Owner,-0.244308,-0.111326,0.194713,0.244308,0.009373,-0.004166,0.004836,-0.008502,0.140823,-0.042578,0.030802,-0.037849,-0.160498,-0.017210,1.000000

In [20]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     -------------------------------------- 292.8/292.8 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.3)
Requirement already satisfied: numpy>=1.15 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.23.1)
Requirement already satisfied: scipy>=1.0 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.8.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: cycler>=0.10 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.34.4)
Requirement already satisfied: packaging>=20.0 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\raj verma\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.